---
import Layout from '../layouts/Layout.astro';
import { SITE } from '../config/site';
---

<Layout title={SITE.defaultTitle} description={SITE.defaultDescription}>
  <h1>MakeShop LP Template</h1>
</Layout>
