---
import { splitLines } from '../utils/text';
import { publicAssetPath } from '../utils/assets';

type Props = {
  text: string;
  avatar: string;
  avatarKey: string;
  hidden?: boolean;
  rowClass?: string | string[];
  bubbleClass?: string | string[];
};

const {
  text,
  avatar,
  avatarKey,
  hidden = false,
  rowClass = [],
  bubbleClass = [],
} = Astro.props as Props;
---

<div
  class:list={['p-line-chat__row', 'p-line-chat__row--bot', rowClass]}
  hidden={hidden}
>
  <div
    class='p-line-chat__avatar p-line-chat__avatar--spacer'
    data-avatar={avatarKey}
    aria-hidden='true'
  >
    <img
      src={publicAssetPath(avatar)}
      alt=''
      loading='lazy'
      decoding='async'
      class='p-line-chat__avatar-image'
    />
  </div>
  <div class:list={['p-line-chat__bubble', 'p-line-chat__bubble--bot', bubbleClass]}>
    {splitLines(text).map((line, index, lines) => (
      <Fragment>
        {line}
        {index < lines.length - 1 && <br />}
      </Fragment>
    ))}
  </div>
</div>
