---
/**
 * ページトップへ戻るボタン
 * 細い上向き矢印。スクロール後にフェードイン、クリックで先頭へスムーススクロール。
 */
---

<button
  type='button'
  class='p-pagetop'
  data-pagetop
  aria-label='ページの先頭へ戻る'
>
  <svg
    class='p-pagetop__icon'
    width='16'
    height='28'
    viewBox='0 0 16 28'
    fill='none'
    aria-hidden='true'
  >
    <path
      d='M8 27V2M2 8L8 2L14 8'
      stroke='currentColor'
      stroke-width='1.2'
      stroke-linecap='round'
      stroke-linejoin='round'></path>
  </svg>
</button>
