---
import { publicAssetPath } from '../utils/assets';
---

<div class="p-page-chrome-left" aria-hidden="true">
  <img src={publicAssetPath('/title.svg')} alt="" class="p-page-chrome-left__image" />
</div>
